@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$max-w: 2000px;
$max-w2: 1000px;

$shad_1: 0 0 1rem rgba(19,19,19,.301);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color_main_1: rgb(60, 192, 179);
    --color_main_1_alpha: rgba(64, 224, 208, 0.45);
    --color_main_2: darkcyan;
    --color_text_1: rgb(8, 8, 8);
    --colog_bg_1: white;
    --colog_bg_1_alpha: rgba(255, 255, 255, 0.4);

    --primary-color: rgb(60, 192, 179);
    --secondary-color: darkcyan;
    --background-color: white;
    --text-color: black;
    --font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    background-color: var(--background-color);
    width: clamp(250px, 100%, $max-w);
    margin: 0 auto;
    box-shadow: 0 0 5rem rgba(14, 14, 14, 0.521);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    transition: opacity .5s;
}
a:hover {
    opacity: .5;
}
.f0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.g0 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}
.btn, .btn_js {
    background-color: var(--colog_bg_1);
    padding: .5rem .8rem;
    border-radius: 2rem;
    box-shadow: 0 1px 2px var(--color_main_2);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: opacity .5s;
}
.btn:hover, .btn_js:hover {
    opacity: .7;
}
.btn_xtra {
    background-color: var(--color_main_1);
    color: var(--colog_bg_1);
}
.b0 {
    background-color: var(--colog_bg_1_alpha);
    padding: 1.5rem;
    border-radius: 1rem;
    line-height: 2rem;
    backdrop-filter: blur(8px);
}
.b1 {
    min-height: 700px;
    background-color: var(--color_main_2);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 20px;
}
.box1 {
    min-height: 700px;
}
h1,h2 {
    text-transform: uppercase;
    font-size: 27px;
}
label {
    font-weight: bold;
}

// PRELOADER
#pre_loader {
    flex-direction: column;
    background-color: var(--color_main_2);
    color: var(--colog_bg_1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1000000;
    text-transform: uppercase;

    b {font-size: 30px;}
}

//////////// SITE
.logo {
    font-weight: bold;
    text-shadow: 1px 1px rgb(0, 0, 0);
    span {
        color: var(--color_main_1);
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    backdrop-filter: blur(8px);
    background-color: rgba(245, 245, 245, 0.5);

    nav {
        display: none;
        background-image: linear-gradient(var(--color_main_1), var(--color_main_2));
        padding: 15px 8px;
        border-radius: 3rem;
        box-shadow: inset 0 0 5px var(--color_main_2);
    }
    .logo {
        font-size: 20px;
    }
}
#home {
    height: clamp(500px, 80vh, 1000px);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    position: relative;

    .pack {
        flex-direction: column;
        .box {
            max-width: 320px;
            background-color: var(--colog_bg_1_alpha);
            box-shadow: $shad_1;
            backdrop-filter: blur(8px);
            padding: 1rem;
            border-radius: 1rem;
        }
        h2 {text-align: center;}
        p, .more {
            display: none;
        }
        .more {
            background-color: var(--color_main_1_alpha);
        }
        .box:hover {
            p, .more {display: flex;}
        }
    }
}
.brand {
    background-color: var(--background-color);
    padding: 1rem;
}
#questionnaire {
    padding: 50vh 1rem 5rem 1rem;
    max-width: $max-w;
    margin: 0 auto;
    color: var(--colog_bg_1);
    background-attachment: fixed;
    background-size: cover;

    form {
        max-width: 1000px;
        display: grid;
        grid-column: repeat(1fr, 12);
        grid-row: auto;
        margin: 0 auto;
        gap: 1rem;
    }
    .box1 {
        color: white;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
        text-transform: uppercase;
        padding: 1rem 0;
    }
    .break {
        background-color: var(--color_main_1);
        width: 100%;
        height: 5px;
    }
    p {
        font-size: 20px;
    }
    .box {
        grid-column: span 12;
        background-image: linear-gradient(40deg, var(--secondary-color), var(--primary-color));
        padding: 1rem;
        border-radius: 1rem;
        line-height: 2rem;
        box-shadow: 3px 3px 5px #1e1e1e40;
    }
    .box:first-child {
        padding: 2rem;
        text-align: justify;
    }
    .qtop {
        grid-column: span 12;
    }
}

.siteform {
    input, textarea {
        width: 100%;
    }
    input, textarea, select {
        border-radius: 16px;
        padding: 8px 10px;
        border: 0;
        margin: 5px 0;
        box-shadow: inset 0px 0px 2px #242424;
        background-color: var(--colog_bg_1_alpha);
        transition: background-color .5s;
        font-weight: bold;
    }
    select, input[type=checkbox] {
        width: auto;
    }
    input[type=number] {
        width: 80px;
    }
    input[type=submit] {
        background-color: var(--background-color);
        color: var(--secondary-color);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2rem;
        cursor: pointer;
        padding: .5rem;
        transition: opacity .2s;
    }
    :focus {
        outline: none;
        box-shadow: none;
        background-color: var(--background-color);
    }
    input[type=submit]:hover {
        opacity: .7;
    }
}

#package{
    .packbox{
        gap: 3rem;
        flex-direction: column;
    }
    .pack_img {
        height: 50px;
        background-color: var(--color_main_2);
    }
    .categ {
        background-color: aliceblue;
        border-radius: 2rem;
        max-width: 800px;
        box-shadow: $shad_1;
    }
    .cover {
        position: relative;
        color: whitesmoke;
        .btn_xtra {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            border-radius: 2rem 2rem 0 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 1rem;
            z-index: 5;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        }
    }
    ul, p {
        padding: 1rem;
    }
    p {font-weight: bold;}
    ul {
        flex-direction: column;
    }
}
#about {
    background-color: var(--colog_bg_1);

    p {
        max-width: 800px;
        text-align: justify;
    }
}
#contact {
    background-attachment: fixed;

    h2 {
        color: white;
    }
}

.start {
    height: clamp(500px,50vh,1000px);
}

footer {
    color: white;
    background-image: linear-gradient(rgb(24 24 24), rgb(14 14 14));
    min-height: 300px;
    padding: 5rem;
    line-height: 1.8;
    grid-row-gap: 3rem;
    text-align: center;

    a {color: white;}
    .logo, b {
        font-size: 22px;
        text-transform: uppercase;
    }
    div {
        justify-self: center;
        grid-column: span 12;
    }
}
.footer_bottom {
    background-color: rgb(24, 24, 24);
    padding: 1rem;

    a {
        color: var(--color_main_1);
    }
}

#mobile {
display: none;
    #mobile_inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: var(--colog_bg_1);
        z-index: 11;
    }
    #mobile_bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--colog_bg_1_alpha);
        z-index: 10;
    }
}
#mobile_nav {
    display: block;
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    ul {
        background-color: var(--color_main_2);
        background-image: linear-gradient(var(--color_main_1), var(--color_main_2));
        gap: 0;
        flex-wrap: nowrap;
        border-radius: 2rem 2rem 0 0;
        box-shadow: $shad_1;
    }
    i{
        font-size: 30px;
    }
    a {
        flex-direction: column;
        color: var(--colog_bg_1);
        gap: 0;
        padding: 5px 8px;
    }
}


@media screen and (max-width: 350px) {
    #mobile_nav {
        ul {
            li:first-child {
                display: none;
            }
        }
    }
  }
@media screen and (min-width: 900px) {
    #questionnaire {
        .qtop {
            grid-column: span 6;
        }
    }
    header {
        .logo {
        font-size: 30px;
    }}
    header nav {display: flex;}
    #home {
        .pack {
            flex-direction: row;
        }
    }
    footer {
        text-align: left;
      div {
        grid-column: span 4;
      }
    }
    #mobile_nav {display: none;}
  }